<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>retalk status</title>
    <link rel="stylesheet" href="https://jsd.onmicrosoft.cn/npm/@recomponent/react@0.1.4/dist/recomponent-global.css">
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 95vh;
            font-size:1.25rem;
        }
    </style>
</head>
<body>
    <div class="container">
       未启用状态面板
    </div>
</body>
</html>